{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<section id="blog">
  <div class="history">
    <h2 class="section-title">Readings</h2>
    <p>Coming soon...</p>
  </div>
  <div class="history">
    <h2 class="section-title">Thoughts</h2>
        <p>Also coming soon...</p>

    <!-- <ul>
      <li><a href="{{ url_for('essay1') }}">1</a></li>
      <li><a href="{{ url_for('essay2') }}">2</a></li>
      <li><a href="{{ url_for('essay3') }}">3</a></li>
    </ul> -->
  </div>
</section>
{% endblock %}