{% extends "base.html" %}

{% block title %}Blog{% endblock %}

{% block content %}
<section id="blog">
  <div class="history">
    <h2 class="section-title">Readings</h2>
    <p>Coming soon...</p>
  </div>
  <div class="history">
    <h2 class="section-title">Thoughts</h2>
    <ul>
      <li><a href="{{ url_for('essay1') }}">Blog Post 1</a></li>
      <li><a href="{{ url_for('essay2') }}">Blog Post 2</a></li>
      <li><a href="{{ url_for('essay3') }}">Blog Post 3</a></li>
    </ul>
  </div>
</section>
{% endblock %}