{% extends "base.html" %}

{% block title %}About Me{% endblock %}

{% block content %}
<section id="main">
    <p>I am a co-founder at <span><a href="https://quno.ai">Quno AI</a></span>, backed by a16z SR004 and Pear VC.</p>
    <p>Before that, I studied computer science and statistics at Columbia University. My general interests lied in Machine Learning and Backend Development, although I've also developed a strong
    interest in Operating Systems.</p>
    <p>Right now, I'm just super excited in shipping products to deliver value to users. Please reach out to <span><a href="mailto:jinhong@quno.ai">jinhong@quno.ai</a></span> if you want to chat!</p>
</section>
{% endblock %}