{% extends "base.html" %}

{% block title %}Work Experience{% endblock %}

{% block content %}
<section id="work">
  <div class="history">
    <h2 class="section-title">Past Work</h2>
    <div class="work-history">
      <div class="job">
        <h3>Founder, Pomello AI</h3>
        <p>Platform for senior lifestyle</p>
      </div>
  
      <div class="job">
        <h3>Intelligence Agent, ROKN (Republic of Korea Navy)</h3>
        <p>Sonar ML model for classifying submarine hydroacoustic signals</p>
      </div>
      <div class="job">
        <h3>Software Engineer Intern, Naver Corp</h3>
        <p>LSTM based Stock prediction model, catalog automation tool</p>
      </div>
    </div>
  </div>
  <div class="history">
    <h2 class="section-title">Projects</h2>
    
    <div class="work-history">
            <div class="job">
              <h3>Finneas</h3>
              <p>Copilot for finance - personalized financial manager</p>
            </div>

      <div class="job">
        <h3>Stud!</h3>
        <p>Study group platform using customized matching algorithm</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}